/* ------------------------------------------------------------------------------
Theme Setting  
-------------------------------------------------------------------------------*/

:root{
    --primary-theme-color: black;
    --secondary-theme-color: gray;
    --primary-theme-background-color:white;
}

body{
    background:var(--primary-theme-background-color);
    overflow-x:hidden;
}





/* ------------------------------------------------------------------------------
Page Loader
-------------------------------------------------------------------------------*/

.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 999999;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loader img {
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}




/* ------------------------------------------------------------------------------
THEME
-------------------------------------------------------------------------------*/


.btn-primary{
    background: #3536e9;
    border: none;
    border-radius: 25px;
    font-size: 13px;
    color: white;
  }
  .btn-secondary{
    background:transparent;
    border: 2px solid #3536e9;
    border-radius: 25px;
    font-size: 13px;
    color: #3536e9;
  }
  
  .navbar-light .navbar-toggler{
    border:none;
    font-size: 17px;
    outline: none !important;
  }
  .custom-navbar ul{
    margin: auto;
    margin-right: 0;
  }
  .custom-navbar ul li{
    margin-left:20px;
  }
  .custom-navbar ul li:last-child{
    margin-left:0;
  }
  .custom-navbar ul a{
    font-size :13px;
    font-weight: 300;
    opacity: 0.8;
  }
  .navbar{
    background:transparent !important;
    transition:0.3s all;
    padding-top: 30px;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    opacity: 1;
    animation: nav-animation 1.5s ease;
  }
  .navbar.fixed-top{
    background: white !important;
    box-shadow: 1px 1px 15px #d2d2e3;
    padding-top:15px;
    padding-bottom:15px;
  }
  .fixed-top{
    animation: nav-animation 0.3s linear;
  }
  .custom-navbar ul a.active{
    font-weight: 600;
    opacity: 1;
  }
  .navbar-brand img{
    width:35px;
  }
  .login-btn{
    margin-top: -3px;
    padding: 5px 20px;
  }
  .quote-btn{
    margin-top: -3px;
    padding: 4px 18px;
  }
  @media (max-width: 991.99px){
    .custom-navbar ul li{
        margin-left:0;
    }
    .custom-navbar ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }
  }
  @keyframes nav-animation {
    0% {
        top:-10%
    }
  
    100%{
        top : 0;
    }
  }
  @keyframes nav-animation {
    0% {
        top: -10%;
        opacity: 0;
    }
    30% {
        top: -10%;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
  }

  
.container{
    max-width: 65vw;
  }
  
.contentSection{
  margin-top: 150px;
}

footer{
  text-align: right;
  font-size: 12px;
  margin-top: 50px;
  opacity: 0.4;
}