


.top-left{
    display: inline-flex;
}
#cmsTopNav{
    padding: 15px;  
    background: white;
    box-shadow: 1px 1px 8px #ececec;
    transition: 0.4s all;
}
#cmsFrame{
    transition: 0.4s all;
}
#cmsTopNav button{
    font-size: 20px;
    min-width: 55px;
    height: 55px;
}
.toggle-screen{
    border-radius: 8px;
    text-align: center;
}
.toggle-screen.active{
    background: #e7e7ff;
    color: #161665;
}
.publish-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.publish-btn p{
    margin: 0;
    display: inherit;
    font-size: var(--paragraph-font-size);
    margin-left: 8px;
}


#codeBlockSection{
    height:100%; 
    overflow:auto;
}

#cmsSideNav{
    position: absolute;
    left: -40vw;
    top: 0;
    height: 100vh;
    width: 22vw;
    background: #222222;
    z-index: 100;
    box-shadow: 1px 1px 8px rgb(0 0 0 / 25%);
    transition: 0.35s all;
    color: white;
    max-height: 100vh;
    overflow-y: hidden;
}

#cmsTopNav.toggle, #cmsFrame.toggle{
    margin-left:22vw;
}
#cmsSideNav.toggle{
    left:0;
}


.hamburger {
    width: 55px;
    height: 55px;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: .375rem .75rem;
  }
  
  .hamburger-init {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
    outline: none;
    background: transparent !important;
    border: none !important; 
  }
  
  .menu {
    position: relative;
    width: 22px;
    height: 20px;
    margin-top: -2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .menu .bar1,
  .menu .bar2,
  .menu .bar3 {
    width: 100%;
    height: 2px;
    background: #463482;
    transition: all .3s;
  }
  
  .menu .bar2{
      width: 80%;
      margin: auto;
      margin-bottom: 0;
      margin-top: 0;
      margin-left:0; 
  }
  
  .hamburger-init:checked + .menu .bar1 {
    transform: translateY(6px) rotate(45deg);
  }
  
  .hamburger-init:checked + .menu .bar2 {
    opacity: 0;
  }
  
  .hamburger-init:checked + .menu .bar3 {
    transform: translateY(-7px) rotate(-45deg);
  }

  .toggle-page{
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .toggle-page i, .toggle-page span{
    font-size: 14px;
  }
  .toggle-page p{
    font-size: var(--small-font-size);
    margin: 0;
    opacity: 0.5 ;
  }
  .toggle-page div{
      line-height: 18px;
  }

  #nav-tab a{
      flex:1;
      text-align: center;
      display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: var(--paragraph-font-size);
        padding: 20px 8px;
  }

  #nav-tab i{
      font-size: 18px;
      margin-bottom: 5px;
  }
  .nav-tabs .nav-link{
      outline: none !important;
    border-bottom: 4px solid black;
    color: #ffffff8c;
    background-color: rgb(20, 20, 20);
  }
  .nav-tabs .nav-link:hover{
      border:none; 
      border-bottom: 4px solid black;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border: none;
    background: transparent;
    color: white;
    font-weight: 800;
    background-color: rgb(20, 20, 20);
    border-bottom: 4px solid var(--primary-theme-color);
  }

  #cmsFrame{
      transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
      margin-top: 50px;
  }
#cmsFrameContent{
    transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin:auto;
}
  #cmsFrame.desktop #cmsFrameContent{
      width:95%;
      border: 1px solid rgb(235 234 234);
      border-radius: 10px;
      box-shadow: 3px 3px 5px rgb(0 0 0 / 4%);
  }

  #cmsFrame.tablet #cmsFrameContent{
      width: 769px;
      border: 1px solid rgb(235 234 234);
      border-radius: 5px;
      box-shadow: 3px 3px 5px rgb(0 0 0 / 4%);
  }

  #cmsFrame.mobile #cmsFrameContent{
      width: 441px;
      border: 1px solid rgb(235 234 234);
      border-radius: 5px;
      box-shadow: 3px 3px 5px rgb(0 0 0 / 4%);
  }


.accordion .card{
    background: transparent;
    border-bottom: 1px solid #4c4c4c;
}

.accordion .card-header{
    padding: 15px 0px !important;
    color: white;
    font-weight: 700;
    font-size: 15px; 
    cursor: pointer;
}
.accordion .btn-link{
    color: white;
    font-weight: 700;
    transition: 0.5s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.accordion .card-header.collapsed .btn-link{
    transform: rotate(0deg); 
}
.accordion .card-header .btn-link{
    transform: rotate(90deg); 
}
.accordion i{
    padding-right: 10px;
}
.card-body p{
    font-size: var(--paragraph-font-size);
    margin-bottom: 3px;
    opacity: 0.9;
    font-weight: 400;
    color: white !important;
}
.card-body input,.card-body select,.card-body textarea{
    background: #2f2f2f ;
    border: 1px solid #646464 ;
    color: white ;
}
.card-body .form-group{
    background-color: transparent;
    border: none;
}
.card-body{
    padding-bottom: 50px;
}

.color-picker{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    color: transparent !important;
    margin-top: 5px;
}
.form-control:focus{
    background-color: initial;
}

.font-select > span{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: #2f2f2f;
    border: 1px solid #646464;
    color: white;
    font-size: var(--paragraph-font-size);
    font-weight: 300;
}
.font-select{
    margin-top: 20px;
}

.cms-action-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333333;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-bottom: 15px;
}
.cms-action-item:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 5px #161616;
}
.cms-action-item {
    min-height: 100px;
}
.cms-action-item.highlight{
    border: 3px dashed #716b85;
    background: #333044;
}
.cms-action-item i{
    margin-bottom: 8px;
    padding:0 !important;
    font-size: 24px;
    color: white;
}
.cms-action-item p{
    width: 70%;
    font-size: var(--paragraph-font-size);
    margin-bottom: 3px;
    opacity: 0.9;
    font-weight: 400;
    color: white !important;
}

#moduleHelp{
    color: var(--link-font-color) !important;
    background-color: transparent !important;
}

.slick-dots li button::before {
    font-size: 8px !important;
}
.social-item{
   margin-bottom: 25px;
}

.store-logo-section .uploader label{
    background: #3d3d3d;
    border: 1px solid #474545;
}
.store-logo-section small{
    color: white !important;
}
.store-logo-section .uploader{
    margin-top: 8px;
}

#blockModal .modal-body{
    overflow: hidden;
}

.block-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-bottom: 25px;
}
.block-item:hover{
    transform:scale(1.05);
}
.block-item.selected{
    border: 1px dashed #bbbbbb;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 8%);
}
.block-item img{
    width: 100%;
}
.block-item h4.title{
    font-size: var(--paragraph-font-size) !important;
    font-weight: 800 !important;
    margin-bottom: 5px;
    margin-top: 8px;
}
.block-item p.description{
    font-size: var(--small-font-size);
    font-weight: 400;
    opacity: 0.8;
    margin-bottom: 0;
}

.collapse{
    transition: 0.4s height;
}

.inner-loader{
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
}

.pages-item{
    background: white;    
    box-shadow: 1px 1px 4px rgb(0 0 0 / 15%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    margin-bottom: 15px;
    border-left: 4px solid lightgray;
    position: relative;
}

.edit-confirm{
    display:none;
}

.pages-item .page-name i{
    opacity: 0.7;
    margin-right: 15px;
    cursor: grab;
}
.pages-item .page-name .ti-lock{
    margin-right: 2px;
    opacity: 0.5;
}

.pages-item input:read-only{
    background: none;
    border: none;
    width: auto;
    font-size: var(--paragraph-font-size) !important;
    font-weight: 700;
}

.pages-item .btn{
    padding: 0;
}

.current .page-manage-btn{
    display:none ;
}
.pages-item.current{
    background: white;
    box-shadow: 1px 1px 4px rgb(182 179 208);
    border-left: 5px solid var(--primary-theme-color);
}

.pages-item.current input:read-only, .pages-item.current i, .pages-item.current button{
    color: black !important;
}
.pages-item .page-name{
    display: flex;
    align-items: center;
    flex:1;
    margin-right: 25px;
}

.modal .circle-btn{
    padding:0 !important;
}

.add-page-section {
    background: rgb(211 211 227 / 20%);
    padding: 35px 30px;
    border-radius: 15px;
    margin-top: 35px;
}
#pageBox .subtitle{
    margin-bottom: 10px;
    opacity: 0.7;
}

.add-page-item{
    border-color: #efefef;
    transition: 0.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 8px 15px;
    height: 50px;
}

#blockModal .block-item-section{
    height: 60vh;
    padding-bottom: 150px;
}
#blockModal .block-item-section{
    overflow-y: auto;
    overflow-x: hidden;
}
#blockModal .nicescroll-rails-vr, #blockModal .nicescroll-cursors{
    display: block !important;
    opacity: 1 !important;
}

#codeBlockTab{
    height: 100%;
    justify-content: center;
}
#codeBlockTab .nav-link{
    flex:1;
    display: flex !important;
    align-items: center;
    color: #837ca2;
    background: transparent;
    max-height: 46px;
    border-radius: 35px;
    max-width: 220px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#codeBlockTab .nav-link i{
    font-size: 16px;
    margin-right: 8%;
}
#codeBlockTab .nav-link.active{
    font-weight: 700 !important;
    color: white;
    background-color: var(--secondary-theme-color) !important;
}

#codeBlockTab .nav-link.disabled{
    background: #e7e7e7;
    color: #919191;
}

.row-header{
    font-size: var(--sub-header-font-size);
    font-weight: 600;
    opacity: 0.5;
    margin-bottom: 15px;
}
.row-section{
    margin-bottom: 25px;
}

#cmsSideNav .card-header{
    display: flex;
    align-items: center;
}
#cmsSideNav .d-inline-flex{
    flex:1;
    align-items: center;
}
#cmsSideNav .d-inline-flex i{
    margin-right: 8px;
    opacity: 0.5;
}



.add-page-item.hide{
    overflow:hidden;
    height:0px;
    padding:0px;
}


.draggable--is-dragging{
    cursor:grabbing !important;
}
.draggable-source--is-dragging{
    opacity: 0.5;
}
#pageBox .draggable-mirror{
    margin-left: -150px !important;
}
#bannerModal .draggable-mirror{
    margin-left: -150px !important;
}
#pageAccordion .draggable-mirror{
    margin-right: -150px !important;
}

#cmsIframe{
    background: white;
    height:70vh;
}

#pageAccordion .uploader > label{
    background: #2f2f2f !important;
    border: 3px dashed #636363 !important;
}


.browser-frame {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 3px #E6ECEF;
    overflow: hidden;
  }
  .browser-frame img {
    max-width: 100%;
  }
  
  .browser-controls {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #E6ECEF;
    color: #BEC4C6;
  }
  
  .window-controls {
    flex: 0 0 60px;
    margin: 0 2%;
    display: flex;
    justify-content: space-between;
  }
  .window-controls span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: #FF8585;
  }
  .window-controls span.minimise {
    background: #FFD071;
  }
  .window-controls span.maximise {
    background: #74ED94;
  }
  
  .url-bar {
    flex-grow: 1;
    margin-right: 2%;
    padding: 5px 5px 0 10px;
    font-family: monospace;
    color: #889396;
    overflow: hidden;
  }
  
  .white-container {
    height: 30px;
    border-radius: 3px;
    background: white;
    padding: 2px 25px;
    font-size: var(--paragraph-font-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .url-bar a{
    opacity: 0.5;
  }

  .ti-reload{
      cursor: pointer;
  }

  .iframe-container{
    position: relative;
  }

  .iframe-inpage-loader img{
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .iframe-inpage-loader{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
  }

  .link-component{
    color: #ad9fff !important;
    text-decoration: underline !important;
  }

  
.attachment-display-item {
    position: relative;
    text-align: center;
    height: 100%;
    transition: 0.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 0px solid rgb(231, 231, 231);
    padding: 15px;
}
.attachment-display-item .bg-img{
    background-repeat: no-repeat !important;
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    margin-right: auto;
    margin-left: auto;
    height: 120px;
}
.attachment-display-item img{
    width: auto;
    height: 150px;
}
.attachment-display-item p{
    text-align: center;
    font-size: var(--paragraph-font-size);
    opacity: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.attachment-display-item .delete-attachment-button{
    position: absolute;
    top: 8px;
    right: -15px;
    padding: 8px;
    font-size: var(--small-font-size);
    transition: 0.4s all;
    visibility: hidden;
    opacity: 0;
}
.delete-attachment-button i{
    font-weight: 800 !important;
}
.attachment-display-item span{
    background: var(--primary-theme-color);
    color: white;
    font-size: var(--small-font-size);
    padding: 3px 10px;
    border-radius: 35px;
    display:none;
}

.attachment-display-item:hover{
    border-radius: 15px;
    transform: scale(1.06);
    cursor: pointer;
}

.attachment-display-item:hover button{
    visibility: visible;
    opacity: 1;
}

#bannerDisplayTemplate{
    display:none;
}

#pageAccordion small{
    opacity: 0.5;
}

.multiselect-native-select .btn-group, .multiselect-container{
    width: 100%;
    font-size: var(--paragraph-font-size);
}
.multiselect-native-select button{
    background: #2f2f2f;
    border: 1px solid #6d6d6d;
    color: white !important;
}
