.input-group-text.phone {
    background-color: #fff !important;
    width: 105px;
    border-right: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}

.input-group-text.phone .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-menu-phone .dropdown-toggle {
    display: flex;
    align-items: center;
}

.dropdown-menu-phone .selected-phone-code {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.dropdown-menu-phone .selected-phone-telecode {
    font-size: var(--input-font-size);
    display: block;
    margin-left: 10px;
}

.dropdown-menu-phone .dropdown-menu-link {
    display: flex;
    align-items: center;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
}

.dropdown-menu-phone .dropdown-menu-link:hover {
    background-color: #f2f2f2;
}

.dropdown-menu-phone .dropdown-menu-flag {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.dropdown-menu-phone .dropdown-menu-link span {
    display: block;
    margin-left: 9px;
    font-size: 14px;
}
