.topnav,
.custom-navbar {
    display: none;
}

.back-section {
    margin-bottom: 35px;
}

.back-section button {
    background: rgba(0, 0, 0, 0.03);
}

.back-section i , #noProduct i{
    margin-right: 8px;
}

.content {

    margin-top: 80px;
}
#noProduct img{
    max-width: 350px;
    margin-bottom: 50px;
}
#cartInfo {
    padding: 30px;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    transition: 0.8s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 50px;
}

.title small {
    display: block;
    font-size: 13px;
    opacity: 0.5;
    margin-top: 10px;
}

#shippingInfo {
    padding-top: 30px;
}

.sub-title {
    font-size: 15px;
    font-weight: 400;
    opacity: 1;
}

.checkout-cart-item {
    margin-bottom: 50px;
}

.checkout-cart-item img {
    width: 100%;
}

.checkout-cart-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
}

.checkout-cart-variation {
    opacity: 0.8;
}

.checkout-cart-quantity {
    margin-bottom: 5px;
}

.checkout-cart-price {
    text-align: right;
}


.subsection {
    margin-top: 16px;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.6;
}

.subsection span {
    float: right;

}


.sticky {
    position: sticky;
    top: 15px;
}


.total-payment {
    font-size: 18px;
    font-weight: 700;
    opacity: 1;
    margin-top:30px;
}




.switch {
    height: 24px;
    display: block;
    position: relative;
    cursor: pointer;
    margin-top: 15px;
}

.switch input {
    display: none;
}

.switch input+span {
    padding-left: 50px;
    min-height: 24px;
    line-height: 24px;
    display: block;
    color: rgb(70, 70, 70);
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

.switch input+span:before,
.switch input+span:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 12px;
}

.switch input+span:before {
    top: 0;
    left: 0;
    width: 42px;
    height: 24px;
    background: #dedede;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.switch input+span:after {
    width: 18px;
    height: 18px;
    background: #fff;
    top: 3px;
    left: 3px;
    box-shadow: 0 1px 3px rgba(18, 22, 33, 0.1);
    -webkit-transition: all .45s ease;
    transition: all .45s ease;
}

.switch input+span em {
    width: 8px;
    height: 7px;
    background: #99A3BA;
    position: absolute;
    left: 8px;
    bottom: 7px;
    border-radius: 2px;
    display: block;
    z-index: 1;
    -webkit-transition: all .45s ease;
    transition: all .45s ease;
}

.switch input+span em:before {
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -1px;
}

.switch input+span em:after {
    content: '';
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #99A3BA;
    border-bottom: 0;
    width: 6px;
    height: 4px;
    left: 1px;
    bottom: 6px;
    position: absolute;
    z-index: 1;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transition: all .45s ease;
    transition: all .45s ease;
    -webkit-transform: rotate(-35deg) translate(0, 1px);
    transform: rotate(-35deg) translate(0, 1px);
}

.switch input+span strong {
    font-weight: normal;
    position: relative;
    display: block;
    top: 1px;
}

.switch input+span strong:before,
.switch input+span strong:after {
    font-size: 13px;
    font-weight: 400;
    display: block;
    font-family: 'Mukta Malar', Arial;
    -webkit-backface-visibility: hidden;
}

.shipping-method-section ,.hide, .total-section{
  display:none;
}
.checkout-section textarea{
    font-size: 13px;
}
.switch input+span strong:before {
    content: attr(data-before);
    -webkit-transition: all .3s ease .2s;
    transition: all .3s ease .2s;
}

.switch input+span strong:after {
    content: attr(data-after);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    color: rgb(70, 70, 70);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translate(2px, 0);
    transform: translate(2px, 0);
}

.switch input:checked+span:before {
    background: var(--primary-theme-color);
}

.switch input:checked+span:after {
    background: #fff;
    -webkit-transform: translate(18px, 0);
    transform: translate(18px, 0);
}

.switch input:checked+span em {
    -webkit-transform: translate(18px, 0);
    transform: translate(18px, 0);
    background: #5628EE;
}

.switch input:checked+span em:after {
    border-color: #5628EE;
    -webkit-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
}

.switch input:checked+span strong:before {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translate(-2px, 0);
    transform: translate(-2px, 0);
}

.switch input:checked+span strong:after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all .3s ease .2s;
    transition: all .3s ease .2s;
}



.checkout-section {
    margin-bottom: 50px;
}

#paymentInfo {
    padding-top: 50px;
}







.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;
}

.inputGroup label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-transition: color 200ms ease-in;
    transition: color 200ms ease-in;
    overflow: hidden;
}

.inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background-color: #e4e4ed;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}

.inputGroup label:after {
    width: 32px;
    height: 32px;
    content: '';
    border: 2px solid #d4d5e2;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.inputGroup input:checked~label {
    color: #6b6b6b;
}

.inputGroup input:checked~label:before {
    -webkit-transform: translate(-50%, -50%) scale3d(90, 56, 1);
    transform: translate(-50%, -50%) scale3d(90, 56, 1);
    opacity: 1;
}

.inputGroup input:checked~label:after {
    background-color:#7fdeb0;
    border-color: white;
}

.inputGroup input {
    width: 32px;
    height: 32px;
    -webkit-box-ordinal-group: 2;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}


.button-section {
    text-align: right;
}

.fa-heart {
    color: red;
    transform: rotate(15deg);
    margin-left: 5px;
    font-size: 12px;
}

.shipping-method-text, .free-shipping-text ,.shipping-option-text{
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 5px;
}

.billing-section {
    display: none;
}

.add-address-btn {
    width: 48%;
    margin: 2% 2% 0% 0%;
    height: 250px;
    border: 1px dashed lightgrey !important;
    background: rgba(0, 0, 0, 0.01) !important;
    border-radius: 5px;
}

.add-address-btn i {
    display: block;
    font-size: 24px;
    padding-bottom: 15px;
    opacity: 0.4;
}

.shipping-section {
    margin-top: 15px;
}

a {
    text-decoration: none !important;
    outline: none !important;
}

.shipping-address-title {
    font-size: 22px;
    FONT-WEIGHT: 700;
    margin-bottom: 25px;
}

#noProduct p{
  font-size: 15px;
  opacity: 0.7;
  max-width: 80%;
  margin: auto;
  margin-bottom: 50px;
}
#noProduct .title{
  margin-bottom: 20px !important;
}
#noProduct {
    text-align: center;
    padding-top: 5%;
}

#addressModal .form-group {
    margin-bottom: 10px;
}

#addressModal input,
#addressModal textarea {
    background: rgba(0, 0, 0, 0.033);
    font-size: 13px;
}

#addressModal .modal-body {
    padding: 1rem 3rem;
}

#addressModal select {
    font-size: 13px;
    height: calc(2.25rem + -2px) !important;
}

#addressModal .modal-footer {
    padding: 25px 0;
}

.shipping-address-item {
    width: 48%;
    margin: 2% 2% 0% 0%;
    height: 250px;
    float: left;
    padding: 15px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    transition: 0.5s all;
    position: relative;
}

.shipping-address-item .button-section {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.shipping-address-item .address {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.ship-here-btn {
    background: rgba(0, 0, 0, 0.01);
}

.shipping-address-item p {
    font-size: 13px;
    margin-bottom: 5px;
    opacity: 0.8;
}

.shipping-address-item .phone {
    font-weight: 700;
    color: black;
    opacity: 1 !important;
}

.shipping-address-item .group {
    display: inline-block;
}

.shipping-address-item.selected {
    background: rgba(0, 0, 0, 0.07);
}

.shipping-address-item .badge {
    margin-bottom: 10px;
    display: none;
}

.shipping-address-item.selected .badge {
    display: inline-block !important;
}

.shipping-address-item.selected .ship-here-btn {
    display: none;
}
.payment-btn-section{
    margin-top: 50px;
}

#callbell-iframe{
    display:none;
}

.payment-container .shipping-section{
    display: inline-block;
    width:100%;
}

.payment-container .shipping-address-item{
    width:100% !important;
    margin:0 !important;
    height:200px !important;
}

.payment-container .billing-section{    
    display: inline-block;
    width:100%;
}

.alert-danger{
    text-align: left;
    font-size: 13px;
}


.payment-container .title small{
    display: block;
    font-size: var(--small-font-size);
    opacity: .8;
    margin-top: 10px;
    max-width: 100%;
    color: red;
    padding-bottom: 5px;
    font-weight: 300;
}

.payment-container .title small.datetime    {
    padding-bottom: 15px;
    color:black;
    opacity: 0.5;
}

.orderid{
    color:black !important;
}

.datetime{
    float: right;
    opacity: 0.4;
}


.pending-transaction-box{
    background: rgba(0,0,0,0.05);
    border-radius: 5px;
    padding: 15px 25px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}


.pending-transaction-box h3{
    font-size: 16px;
    font-weight: 700;
}
.pending-transaction-box p {
    opacity: 0.7;
    font-weight: 400;
}
.pending-transaction-box h4{
    font-size: 14px;
    opacity: 0.8;
    font-weight: 500;
}
.pending-btn-section{
    text-align: center;
}

.btn-outline-secondary{
    font-size: 13px;
    border: 1px solid lightgray;
}

.promocode-input small{
    display: block;
    font-size: 10px;
    width: 100%;
    opacity: 0.6;
    padding-top: 5px;    
}
.promocode-input a{
    color: #140080;
}
.pending-title{
    font-size: var(--h5-font-size);
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
    color: var(--font-color);
}

.point-section {

}

.point-section img{
    width: 18px;
    margin-top: -3px;
}
















/* html input range styling */

/* default */
input[type='range'] {
    width: 100%;
  }
  
  /* plugin theme  */
  
  .html-inupt-range {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 40px;
  }
  
  .html-inupt-range input[type='range'] {
    -webkit-appearance: none;
    height: 6px;
    margin: 0;
    background: #a29bfe;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
  
  .html-inupt-range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.24);
    background-image: linear-gradient(to bottom, #6c5ce7 0, #6c5ce7 100%);
    border-radius: 50%;
  }
  
  .html-input-range-custom input[type='range'] {
    position: relative;
    z-index: 99;
    opacity: 0;
  }
  
  .html-input-range-custom .hir-tracker-bg,
  .html-input-range-custom .hir-tracker-bg::after,
  .html-input-range-custom .hir-tracker-bg::before {
    position: absolute;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.24);
  }
  
  .html-input-range-custom .hir-tracker-bg {
    top: 10px;
    left: -7px;
    width: calc(100% + 15px);
    height: 6px;
    background-color: #a29bfe;
    border-radius: 5px;
  }
  
  .html-input-range-custom .hir-tracker-bg::after,
  .html-input-range-custom .hir-tracker-bg::before {
    content: '';
    z-index: 1;
    top: -4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #a29bfe;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.24);
  }
  
  .html-input-range-custom .hir-tracker-bg::before {
    left: 0;
  }
  
  .html-input-range-custom .hir-tracker-bg::after {
    right: 0;
  }
  
  .html-input-range-custom .hir-tracker-thumb,
  .html-input-range-custom .hir-tracker-thumb::after {
    position: absolute;
    background-color: #6c5ce7;
  }
  
  .html-input-range-custom .hir-tracker-thumb {
    top: 10px;
    left: 0;
    width: 0;
    height: 6px;
    transition: width 150ms linear;
  }
  
  .html-input-range-custom .hir-tracker-thumb::after {
    content: '';
    z-index: 2;
    top: -4px;
    right: -7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
  
  .html-inupt-range .tooltip,
  .html-inupt-range .tooltip::after,
  .html-inupt-range .tooltip::before {
    position: absolute;
  }
  
  .html-inupt-range .tooltip {
    z-index: 100;
    top: -32px;
    left: 0;
    padding: 5px 12px;
    transform: translateX(-50%);
    font-size: 14px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    transition: left 100ms linear;
    opacity: 1 !important;
  }
  
  .html-inupt-range .tooltip::after,
  .html-inupt-range .tooltip::before {
    content: '';
    width: 0;
    height: 0;
  }
  
  .html-inupt-range .tooltip::after {
    bottom: -4px;
    left: calc(50% - 4px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
  }
  
  .html-inupt-range .tooltip::before {
    bottom: -5px;
    left: calc(50% - 5px);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f1f1f1;
  }
  
  .html-input-range-custom .hir-labels {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .html-input-range-custom .hir-labels {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
  }
  
  .html-input-range-custom .hir-labels li {
    position: relative;
    height: 6px;
  }
  
  .html-input-range-custom .hir-labels li::after {
    content: '';
    position: absolute;
    top: -4px;
    right: -7px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 1px solid #a29bfe;
    border-radius: 50%;
  }
  
  .html-input-range-custom .hir-labels li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .html-input-range-custom .hir-labels li:last-child::after {
    display: none;
  }
  
  /* helper styles */
  
  input[type='range'] + p {
    font-size: 12px;
    color: #666;
  }




  .redeem-btn{
    border: 1px solid lightgray;
    background: #f4f4f4;
    color: gray;
    height: 33px;
    margin: auto;
    margin-right: 0;
    font-size: 12px;
  }

.redeem-btn:disabled{
    opacity: 0.4;
}

.redeem-fee{
    display: none;
}