
    /*********************************************************************

                                CMS THEME SETTING

    ***********************************************************************/


    @font-face {
        font-family: "Inter";
        src: url("/font/inter/thin.ttf");
        font-weight: 100;
        font-style: thin;
    }

    @font-face {
        font-family: "Inter";
        src: url("/font/inter/extralight.ttf");
        font-weight: 200;
        font-style: extralight;
    }

    @font-face {
        font-family: "Inter";
        src: url("/font/inter/light.ttf");
        font-weight: 300;
        font-style: light;
    }

    @font-face {
        font-family: "Inter";
        src: url("/font/inter/regular.ttf");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: "Inter";
        src: url("/font/inter/medium.ttf");
        font-weight: 500;
        font-style: medium;
    }

    @font-face {
        font-family: "Inter";
        src: url("/font/inter/semibold.ttf");
        font-weight: 600;
        font-style: semibold;
    }

    @font-face {
        font-family: "Inter";
        src: url("/font/inter/bold.ttf");
        font-weight: 700;
        font-style: bold;
    }

    @font-face {
        font-family: "Inter";
        src: url("/font/inter/extrabold.ttf");
        font-weight: 800;
        font-style: extrabold;
    }

    @font-face {
        font-family: "Inter";
        src: url("/font/inter/black.ttf");
        font-weight: 900;
        font-style: black;
    }







    /*********************************************************************

                                CMS THEME SETTING

    ***********************************************************************/


    :root {
        --primary-theme-color: #421edf !important;
        --secondary-theme-color: #000000 !important;  
        --background-color: #ffffff !important;  
        --font-color: #000000 !important;  
        --default-button-color: #2e21e4 !important;  
        --h1-font-size: 30px !important;     
        --p-font-size: 15px !important;     
        --label-font-size: 13px !important;     
        --link-font-size: 13px !important;     
        --button-font-size: 14px !important;     
        --input-font-size: 14px !important;     
        --small-font-size: 12px !important;     
        --h2-font-size: 30px !important;     
        --h3-font-size: 24px !important;     
        --h4-font-size: 22px !important;     
        --h5-font-size: 18px !important;     
        --h6-font-size: 15px !important;     
    }

    p,h1,span,h2,h3,h4,h5,h6,a,li,ul,html,body,b,label, small{
        font-family: "Inter", "微软雅黑", sans-serif !important;
        color: var(--font-color);
    }

    footer{
        background:#ffffff !important;
    }
    footer p, footer span, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6, footer b, footer small, footer a{
        color:#000000 !important;
    }

    nav.navbar, nav.topnav, #mobileNav.collapse{
        background:#ffffff ;
    }
    nav.navbar p, nav.navbar span, nav.navbar h1, nav.navbar h2, nav.navbar h3, nav.navbar h4, nav.navbar h5, nav.navbar h6, nav.navbar b, nav.navbar small, nav.navbar a, .topnav .navbar-nav a,.navbar-toggler{
        color:#000000 !important;
    }

/*********************************************************************

                         GENERAL SETTING

***********************************************************************/

a{
    color:var(--font-color);
}
p{
    font-size: var(--p-font-size);
    font-weight: 400;
}
small{
    font-size: var(--small-font-size);
    font-weight: 300;
}
h1{
    font-size: var(--h1-font-size);
    font-weight: 800;
    color: var(--font-color);
}
h2{
    font-size: var(--h2-font-size);
    font-weight: 800;
}
h3{
    font-size: var(--h3-font-size);
    font-weight: 800;
}
h4{
    font-size: var(--h4-font-size);
    font-weight: 800;
}
h5{
    font-size: var(--h5-font-size);
    font-weight: 700;
}
h6{
    font-size: var(--h6-font-size);
    font-weight: 600;
}
label{
    font-size: var(--label-font-size);
    font-weight: 400;
}
input, select, .form-control{
    font-size: var(--input-font-size);
}
button, button.btn{
    font-size: var(--button-font-size);
}
body{
    background:var(--background-color);
}
.btn-default{
    background:var(--default-button-color);
}

.width-100{ width:100%; }
.width-90{ width:90%; }
.width-80{ width:80%; }
.width-70{ width:70%; }
.width-60{ width:60%; }
.width-50{ width:50%; }
.width-40{ width:40%; }
.width-30{ width:30%; }
.width-20{ width:20%; }
.width-10{ width:10%; }
.opacity-10 {opacity:1 !important;}
.opacity-8 {opacity:0.8;}
.opacity-7 {opacity:0.7;}
.opacity-6 {opacity:0.6;}
.opacity-5 {opacity:0.5;}
.opacity-4 {opacity:0.4;}
.opacity-3 {opacity:0.3;}
.opacity-2 {opacity:0.2;}
.opacity-1 {opacity:0.1;}

.picture-box{
    background-repeat: no-repeat !important;
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    width: 100%;
    height: 100%; 
    height: 100px;
}


.cms-section{
    padding:3.5rem 0;      
}

.banner-section{
    margin-bottom: 60px;
    margin-top: 20px;
}
video{
    width:auto;
    max-width: 100%;
    height:100%;
}
.banner-image{
    height:60vh !important;
    position: relative;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    outline: none !important;
    border: none !important;
    cursor: grab !important;
}
.banner-large .banner-image{
    height:80vh !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    outline: none !important;
    border: none !important;
    cursor: grab !important;
}

.banner-full .banner-image{
    height:95vh !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    outline: none !important;
    border: none !important;
    cursor: grab !important;
}
.banner-image video{
    position: absolute;
    width: 100% !important;
    top: 0;
    transform: none !important;
    height: 100% !important;
    object-fit: cover;
}


input[type="button"]:focus,
.btn.focus,
.btn:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.breadcrumb{
    padding: .5rem;
    background: transparent;
    font-size: 13px;
    margin-top: 15px;
}
.swal-title{
    font-size: var(--h4-font-size) !important;
    font-weight: 800 !important;
    color: var(--font-color) !important;
}
.swal-text{
    font-size: var(--p-font-size) !important;
}
.swal-button--danger{
    background-color: #cd2720 !important;
}
.swal-button--cancel{
    background-color: #efefef !important;
}

.swal-button-container, .swal-button{
    outline:none !important;
    border:none !important;
}

.swal-footer{
    text-align: center;
}
.breadcrumb-item a{
    color:black !important;
}
.breadcrumb-item.active{
    opacity: 0.7;
}


.swal-button{    
    font-weight: 500;
    font-size: 13px;
    padding: 8px 24px;
    background: var(--primary-theme-color);
    border-radius: 5px;
}
.btn{
    transition:0.4s all;
}
.btn:hover {
    opacity: 0.4;
}
.btn-primary{
    background:var(--primary-theme-color) !important;
    border: 1px solid var(--primary-theme-color)  !important;
}
.btn-secondary{
    background:var(--secondary-theme-color) !important;
    border: 1px solid var(--secondary-theme-color)  !important;
}
.btn-primary:disabled{
    background:black !important;
    opacity: 0.4;
    border: 1px solid black !important;
    cursor: not-allowed;
}
.circle-btn {
    background: var(--primary-theme-color);
    border-radius: 100% !important;
    width: 40px;
    height: 40px;
    font-size: var(--button-font-size);
    font-weight: bold;
    color: white;
    text-align: center;
    margin: auto;
    padding: 0;
    line-height: 10px;
    margin: 0;
    margin-bottom: 25px;
    text-decoration: none;
    outline: none;
    transition: 0.4s all;
}

.circle-btn:hover {
    opacity: 0.7;
}

.back-btn {
    background: #f1f1f1 !important;
    color: #979797 !important;
}

.circle-btn {
    position: relative;
}

.circle-btn:hover {
    opacity: 1 !important;
    transform: scale(1.1);
}


.circle-btn span {
    background: #fff;
    color: #222;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 10px 7px;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: initial;
}

.circle-btn span:before {
    content: "";
    /*   width: 0;
    height: 0; */
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: absolute;
    bottom: -5px;
    left: 40px;
}

.circle-btn:hover span {
    bottom: 50px;
    visibility: visible;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

a{
    text-decoration: none !important;
}


.hover-container:not(:hover) .hover-item{
    opacity:1;
}
.hover-item{
    transition: 0.6s all cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    opacity: 0.5;
}
.collection-mix.hover-item{
    transition: 0.6s opacity cubic-bezier(0.075, 0.82, 0.165, 1);
}
.collection-mix .product-item {
    transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hover-item:hover{
    opacity: 1;
    transform:scale(1.08);
}
.collection-mix.hover-item:hover{
    opacity: 1;
    transform:none;
}
.collection-mix.hover-item:hover .product-item{
    opacity: 1;
    transform:scale(1.08);
}
.collection-mix.hover-item .new-label{
    left:0px;
}

.content{
    padding-top: 25px;
}
.coin-nav{
    opacity: 1 !important;
}
.coin-nav img{
    width: 18px;
}
.coin-nav span{
    color: #ffc459;
    font-weight: 600;
    padding-right: 5px;
    font-size: 12px;
}


.toastify {
    padding: 12px 20px;
    color: #535353 !important;
    display: inline-block;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
        0 10px 36px -4px rgb(102 99 99 / 30%) !important;
    background: -webkit-linear-gradient(315deg, #f9f9f9, #f8f8f8) !important;
    background: linear-gradient(135deg, #f9f9f9, #f8f8f8) !important;
    position: fixed;
    top: -150px;
    left: 50%;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 2px;
    cursor: pointer;
    transform: translateX(-50%) !important;
    z-index: 10000000;
    max-width: 95% !important;
    border-radius: 100px;
    width: fit-content;
    padding: 5px;
    display: flex;
    padding-right: 25px;
    justify-content: center;
}

.toastify.on {
    opacity: 1;
}

.toastify img {
    width: 40px;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: auto;
    margin-left: 5px;
    margin-right: 15px;
}

.toastify .title {
    font-size: 14px;
    font-weight: 700;
    color: var(--font-color);
    display: block;
}

.toastify div {
    display: flex;
    font-size: 12px;
    font-weight: 300;
    color: var(--primary-theme-color);
    justify-content: center;
    flex-direction: column;
}

.picture-box-video{
    position: relative;
    height: 100%;;
}
.picture-box-video video{
    object-fit: cover;
    min-width: 100%;
    position: absolute;
    left: 0;
    max-height: 100% !important;
}


.hide{
    display:none;
}

.badge-tag{
    color: #fff;
    font-size: var(--small-font-size);
    background-color: #c1c1c1;
    font-weight: 400;
}



.modal-close-btn {
    border-radius: 100% !important;
    width: 35px !important;
    height: 35px !important;
    padding: 0 !important;
    background: rgba(0, 0, 0, 0.05) !important;
    border: none !important;
    color: #b0b0b0 !important;
    font-size: 12px !important;
    transition: 0.5s all;
    margin: auto;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-close-btn:hover {
    opacity: 0.4;
}








/*********************************************************************

                         CHAT POPUP SETTING

***********************************************************************/



.chatHead-content {
    display: none;
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.chatHead-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;
}

.chatHead-content p {
    font-size: 14px;
    opacity: 0.4;
}

#chatToggle {
    z-index: 20;
    border: none;
    width: 50px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    position: relative;
    transition: 0.4s all;
    padding-right: 0;
    padding-left: 0;
    border: none;
    outline: none;
    box-shadow: none;
}

#chatToggle img {
    width: 100%;
    border-radius: 100%;
    transition: 0.4s all;
    box-shadow: 0 0 3px #c9c9c9;
}

#chatToggle img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #c9c9c9;
}

#chatHeadWidget {
    position: fixed;
    right: 20px;
    bottom: 50px;
    float: right;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

#chatHeadTooltips {
    width: auto;
    position: absolute;
    top: 50%;
    transform: translate(-105%, -50%);
    background: white;
    padding: 10px 30px;
    border-radius: 69px;
    box-shadow: 1px 1px 5px #c9c9c9;
    transition: 1s all;
    opacity: 1;
}
#chatHeadTooltips p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 1s all;
    margin: 0;
    font-size: 14px;
}

div#chatHeadTooltips:after {
    border-style: solid;
    border-width: 10px 0 10px 13.3px;
    border-color: transparent transparent transparent #ffffff;
    content: "";
    position: absolute;
    right: -8px;
    top: 33%;
}

#chatHeadTooltips.off {
    opacity: 0;
}
#chatHeadTooltips.off p {
    width: 0px !important;
    opacity: 0;
}

.loaded {
    animation: off-screen 1s forwards;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#chatOption {
    position: absolute;
    top: 0;
    width: 70px;
    display: flex;
    justify-content: center;
}

.chathead-item {
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
    transition-timing-function: cubic-bezier(1, 0.1, 1, 1);
    opacity: 1;
}
.chathead-item img {
    transition: 0.4s all;
    box-shadow: 0px 0px 3px #e6e6e6;
    border-radius: 100%;
    width: 100%;
}
.chathead-item img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px #e6e6e6;
}

#chatOption.off .chathead-item {
    top: 0px !important;
    opacity: 0;
}

.hide-fb-dialog {
    min-height: 0px !important;
    max-height: 0px !important;
}

@keyframes off-screen {
    from {
        right: -150px;
    }
    to {
        right: 25px;
    }
}

.slick-dots li button:before{
    font-size:8px !important;
    margin-top:15px !important;
}



/* prevent all iframe scaled by above hover icon function  */
.chathead-item iframe:hover {
    transform: scale(1);
}

.modal-dialog.xl{
    max-width: 90vw !important;
}





/* fb chat box reposition */
.fb-customerchat > span  iframe{
    bottom: 0px !important;
    right: 70px !important;

}
.fb_dialog_content > iframe{
    bottom: 0px !important;
    right: 70px !important;
    display: block !important;
    position:inherit !important;
    margin: 0px !important;
    box-shadow: none !important;
    transition: 0.3s all !important;
}

.fb_dialog_content:hover{
    transform: scale(1);
}


.fb_dialog_content 
{
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
   position:inherit !important;
   background-color: transparent !important;
   transform: scale(0.88);
} 

.fb_dialog{
    position:inherit !important;
   background-color: transparent !important;
   margin-top:15px;
} 







/*********************************************************************

                        ANNOUNCEMENT SETTING

/*********************************************************************/

#announcementModal section {
    margin-top: 5vh !important;
}

.announcement-title {
    text-align: center;
    margin-bottom: 0 !important;
}
.announcement-title::before {
    content: none !important;
}

.announcement-description {
    text-align: center;
    font-size: 16px !important;
    opacity: 0.6 !important;
    margin-bottom: 30px !important;
}

.announcement-image {
    text-align: center;
}
.announcement-image img {
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 15px;
}
.announcement-image video {
    max-width: 80%;
    margin: auto;
}
.announcement-button {
    text-align: center;
    padding-top: 15px;
}

#announcementContent {
    text-align: center;
}
#announcementModal .announcement-picture img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
#announcementModal .announcement-picture video {
    max-width: 100%;
    margin: auto;
}

#announcementModal .announcement-picture {
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}
#announcementModal .announcement-title {
    font-size: var(--header-font-size);
    font-weight: 800;
    margin: 0;
}
#announcementModal .announcement-description {
    opacity: 0.7;
    font-weight: 300;
}

#announcementModal .tox-tinymce {
    border: none;
}
#announcementContent,
#guidelineContent {
    opacity: 0;
    transition: all 1.5s;
    max-height: 100px;
}
#announcementContent.open,
#guidelineContent {
    opacity: 1;
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}
#announcementContent .modal-body{
    padding: 8%;
    padding-left:10%;
}
#announcementModal .no-show {
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 7%;
}
#announcementModal .slick-dots {
    position: fixed !important;
    bottom: 40px !important;
    left: 10px !important;
    right: 0 !important;
    margin: auto !important;
}
#announcementModal .modal-content {
    padding:25px;
    padding-bottom: 50px !important;
}

#announcementModal .no-show input,
#announcementModal .no-show label {
    cursor: pointer;
}

.slick-dots li button::before {
    font-size: 8px !important;
}

.slide {
    height: 100%;
  }






/*********************************************************************

                         NAVBAR SETTING

***********************************************************************/



.navbar-light .navbar-brand img{
    height: 35px;
}
.navbar-light .navbar-brand{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 6px;
    margin-right: 0 !important;

}
.navbar-light .navbar-brand span{
    font-weight: 800;
    padding-left: 2px;
    color: #3a0776;
    font-size: 20px;
}

.navbar-light .navbar-toggler{
    border:none;
    font-size: 17px;
    outline: none !important;
    opacity: 0.5;
    padding-left:0;
}
.custom-navbar ul{
    margin: auto;
    margin-right: 0;
}
.custom-navbar ul li{
    margin-right:20px;
}
.custom-navbar ul a{
    font-size: var(--link-font-size);
    text-transform: uppercase;
    font-weight: 400 !important;
    opacity: 0.5 ;
}
.custom-navbar ul a span{
    padding-left: 2px;
}
.navbar{
    transition:0.3s all;
    padding-top: 20px;
}
.navbar.fixed-top{
    box-shadow: 1px 1px 15px #d2d2e3;
    padding-top:15px;
    padding-bottom:15px;
}
.fixed-top{
    animation: nav-animation 0.3s linear;
}
.signup-btn{
    background: transparent;
    border: 1px solid rgba(0,0,0,0.08);
    color: rgba(0,0,0,0.7);
    font-weight: 300;
    background: rgba(0,0,0,0.02);
}
.employer-btn{
    background: #ff1b60;
    border: 1px solid #ff1b60;
}
.custom-navbar ul a.active{
    opacity: 1 !important;
    font-weight: 700 !important;
}
.custom-navbar {
    padding-bottom: 25px;
}
.custom-navbar .container{
    justify-content: space-between;
}
#desktopNav ul{
    margin:auto;
    margin-left:0;
}
#desktopNav, #navbarNavRight{
    flex-basis: 100% !important;
}
#desktopNav .inner-nav{
    flex-wrap: wrap;
    overflow:hidden;
}
#desktopNav{
    max-width: 39vw;
}

#navbarNavRight ul li{
    margin-right:0;
    margin-left:20px;
}

@keyframes nav-animation {
    0% {
        top:-10%
    }

    100%{
        top : 0;
    }
}

.topnav .navbar-nav{
    flex-direction: row !important;
    justify-content: flex-end !important;
}

.topnav{
    padding-top:20px;
 
}

.topnav .navbar-nav a
{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600 !important;
    opacity: 0.6 ;
}

.topnav .navbar-nav li {
    margin-right: 0;
    margin-left: 30px;
}

.language-select{
    background: #f1f1f1;
    font-size: 12px;
    height: 32px !important;
    border-radius: 30px;
}
.topnav ul a.active{
    color: rgba(0,0,0,0.25) !important;
}

.language-nav{
    padding-right:5%;
    color: rgba(0,0,0,0.3);
    font-size: 12px;
    align-self: center;
}
.language-nav span{
    padding: 0px 10px;
    cursor: pointer;
    opacity: 1;
    transition: 0.5s all;
}
.language-nav span:hover{
    opacity: 0.5;
}
.language-nav span.active{
    color: rgba(0,0,0,1);
    font-weight: 500;
}

.mobile-nav{
    display:none;    
}
.mobile-nav i, .mobile-nav .nav-link{
    color: #c5c5c5 !important;
}
.topnav .navbar-nav  .mobile-nav  a{
    color: #c5c5c5 !important;
}
.mobile-nav .cart-btn{
    position:relative;
}
.mobile-nav .cartNumber{
    width: 13px;
    height: 13px;
    background: black;
    border-radius: 100%;
    position: absolute;
    line-height: 13px;
    text-align: center;
    color: white;
    font-size: 7px;
}

.desktop-nav{
    display:block;
}
#mobileNav{
    overflow: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
#mobileNav ul.inner-nav{
    margin-left:0 !important;
}

#mobileNav.collapse{
    width: 0px;
    transition: 0.3s all;
    height: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:999999;
    box-shadow: 4px 4px 10px #d0d0d054;
}

#mobileNav.collapse.active{
    width: 40vw;    
    height: 100vh;
    overflow: auto;
    border-radius: 0;
}

#mobileNav .navbar-nav{
    margin: auto;
    text-align: left;    
    margin-left: 15%;
    position: relative;
    width:100%;
    flex-direction: column !important;
}
#mobileNav .navbar-nav a {
    padding-left :0; 
}
.close-nav-toggle{
    position: absolute;
    top: 0;
    right: 15%;
    margin-top: 3px;
    text-decoration:none !important;
    width: 40px;
    height: 40px;
    background: #ededed;
    border-radius: 100%;
    color: #595959;
    font-weight: 800;
}

#mobileNav .navbar-nav li{
    margin-bottom: 15px;
}












/*********************************************************************

                         LOADER SETTING

***********************************************************************/




/* ------------------------------------------------------------------------------
Page Loader
-------------------------------------------------------------------------------*/

.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 999999999;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loader img {
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}










/*********************************************************************

                             FAV SETTING

***********************************************************************/


.fav-nav{
    position:relative;
    
}
.fav-nav i{
    color: #ee4949;
}
.fav-nav span{
    width: 13px;
    height: 13px;
    background: black;
    color: white;
    border-radius: 100%;
    font-size: 9px;
    position: absolute;
    text-align: center;
    line-height: 13px;
    top: 0px;
}
.fav-title i {
    color: red;
    transform: rotate(21deg);
    font-size: 14px;
}

.fav-item-section{
    margin-top:50px;
}
.fav-item-box{
    border-radius: 5px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fav-item-box img{
    width:60%;
}


#favRow a{
    text-decoration:none !important;
    outline: none !important;
}
.fav-product-title{
    font-size: var(--p-font-size);
    font-weight: 400;
    margin-top: 15px;
    text-align: center;
    color:var(--font-color);
}
.fav-title{ 
    font-size: var(--h4-font-size);
    font-weight: 800;
    margin-top: 15px;
    text-align: center;
    color:var(--font-color);
}

.no-fav{
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
    max-width: 60%;
    margin: auto;
    display:none;
    color:black;
    opacity: 0.6;
}
#favRow .fav-item{
    transition:0.5s all;
    cursor: pointer;
    position: relative;
}
#favRow .delete-fav-btn{    
    position: absolute;
    top: 0px;
    right: 3px;
    opacity: 0;
    font-size: 11px;
    color: black;
    text-decoration: none !important;
    outline: none !important;
    transition: 0.4s all;
}
#favRow .fav-item.active{
    opacity: 1 !important;
    transform:scale(1.05);
}
#favRow .fav-item.hover{
    opacity: 0.4;
}
#favRow .fav-item:hover .delete-fav-btn{
    top: -20px;
    right: 0px;
    opacity: 1;
}

#favouriteModal .modal-body{
    padding: 25px 35px;
}




.transaction-badge-0 {
    color: #fff;
    background-color: #343a40;
}
.transaction-badge-1 {
    color: #fff;
    background-color: #1dcf76;
}
.transaction-badge-4,
.transaction-badge-5 {
    color: #fff;
    background-color: #5d5f61;
}
.transaction-badge-6,
.transaction-badge-2,
.transaction-badge-3 {
    color: #fff;
    background-color: #af1717;
}








/*********************************************************************

                             CART SETTING

***********************************************************************/


.price-change-icon{
    padding-left: 8px;
    font-size: var(--small-font-size);
    padding-right: 8px;
    opacity: 0.6;
}
.price-change{
    text-decoration: line-through;
}
.cart-section{
    position: fixed;
    top: 0;
    right: -200vw;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition:0.6s all;
    z-index: 100;

}

.cart-box{
    width: 40vw;
    float: right;
    padding: 5% 3%;
    background: #fcfcfc;
    min-height: 100vh;
    box-shadow: -2px 0px 15px rgba(255, 255, 255, 0.34);
    max-width:400px;
    opacity: 0;
    transition-delay: 0.3s;
    transition: 0.4s all ease-in;
    margin-right: -100vw;
    position: relative;
}
.cart-overlay{
    width: 0vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: 0.4s all ease-in-out;
    margin-right: -100vw;
}
.cart-section.active{
    right:0;
    opacity: 1;
}

.cart-box.active{
    opacity: 1;
    margin-right:0;
}
.cart-overlay.active{
    width: 100vw;
    height: 100vh;
    opacity: 1;
    margin-right:0;
    border-radius: 0;
}

.close-cart-btn{
    position: absolute;
    top: 15px;
    right: 35px;
    background: rgba(0,0,0,0.04);
    border: none;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

.cart-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:25px 0;
}
.cart-header span{
    font-size: 13px;
    font-weight: 500;
}
.cart-header span i{
    font-size: 14px;
    padding-right: 5px;
}
.cart-header h1{
    font-size: 14px !important;
    font-weight: 600 !important;
}

.cart-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:25px 0;
}

.cart-footer .checkout-btn{
    padding-left: 25px;
    padding-right:15px;
}
.cart-footer .checkout-btn i{
    font-size: 10px;
    padding-left: 10px;
}
.cart-footer p{
    font-size: 13px;
    color: rgba(0,0,0,0.5);
    margin:0;
}
.cart-footer .price{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,0.7);
}
#cartLoader{
    width: 100%;
    text-align: center;
}
#cartLoader img{
    width: 100%;
    max-width: 250px;
}
.cart-item{
    margin-bottom: 10px;
    background: rgba(0,0,0,0.035);
    padding: 5%;
    border-radius: 5px;
    display: flex;
    position: relative;
}
.cart-item .picture-box{
    flex:4;
    height: 160px !important;
}

.cart-btn{
    cursor: pointer;
    transition: 0.4s all;
}
.cart-btn:hover{
    opacity: 0.7 !important;
}
.no-cart{
    text-align: center;
    margin-bottom: 25px !important;
    color:black;
    opacity: 0.6;
}
.out-stock-label{
    background: #979797;
    padding: 7px 15px !important;
    border-radius: 5px;
    color: white;
    font-size: 11px !important;
}
.delete-cart-btn{
    position: absolute;
    top: 5px;
    border: none;
    right:5px;    
    background:transparent;
}
.cart-item-content{
    padding-top: 20px;
    padding-left:10%;
    flex:7;
}
.cart-item-content h1{
    font-size: 18px;
    font-weight: 600;;
}

.cart-option{
    display: flex;
    flex-direction: row;
   
}
.cart-price{
    margin-top: 10px;
    font-size: 12px !important;
    color: black !important;
    font-weight: 300;
}
.cart-option select{
    flex:3;
    height: 30px !important;
    font-size: 13px;
    background: rgba(0,0,0,0.02);
}
.cart-variation-select{
    margin-right: 15px;
}
.cart-option .quantity-input{
    flex: 2;
    margin-left: 0;    
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
}
.cart-option .quantity-input button{
    background: black;
    border: none;
    width: 10px;
    height: 30px;
    text-align: center;
    font-size: 8px;
    padding: 4px;
    width:30px;
    color:white;
}
.cart-option .quantity-input button:disabled{
    opacity: 0.3;
}


.quantity-input span{
    font-size: 13px;
    padding:0px 5px;
}

#cartModal .modal-body{
    width: 85%;
    margin: auto;
}
#cartFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;        
}
#cartFooter p{
    font-size:14px !important;
}
.cart-title{
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 800;
    margin-top: 15px;
    text-align: center;
    color:black;
}
.cart-title i {    
    transform: rotate(21deg);    
    display: block;
    color: black;
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.no-cart-section{
    text-align: center;
    margin-top: 15px;
    display: none;
}







/*********************************************************************

                            AUTH MODAL SETTING

***********************************************************************/

.auth-forgot-btn{
    padding-right: 0 !important;
}

.modal-header, .modal-footer{
    border:none !important;
}

  
#loginModal .modal-body{
    width:70%;
    margin:auto;
}

#loginModal .btn-section button{
    width:100%;
    margin-top:15px;
    margin-bottom: 15px;
}

#loginModal .fav-title{
    margin-bottom: 25px;
}

.auth-register-form , .auth-login-form, .auth-forgot-form, .auth-email-form{
    display:none ;
}
.auth-back-btn, .email-back-btn{
    margin: 0 !important;
    font-size: 12px;
    color: black;
    opacity: 0.7;
}

#forgotPassword{
    color: blue;
    cursor: pointer;
    transition: 0.4s all;
}
#forgotPassword:hover{
    opacity: 0.7;
}
#forgotPasswordBox{
    width:100%;
    text-align: right;
}

.or-section
{
    text-align: center;
    position: relative;
    width: 100%;
    height: 20px;
    opacity: 0.5;
}
.socialite-section{
    margin-top: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.socialite-section img{
    width:35px;
    margin: 0 10px;
}
.or-section:before
{
    content: '';
    background: #ababab;    
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 56%;    
    transform: translateY(-50%);
}
.or-section span{
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    width: auto;
    padding: 0 10px;
    font-size: 12px;
}












/*********************************************************************

                            FOOTER SETTING

***********************************************************************/



footer p{
    text-align: center;
    font-size: 13px;
    opacity: 0.6;
    text-transform:uppercase;
}
footer{
    padding-top: 100px;
    padding-bottom: 100px;
}


.footer-info a{
    margin: 10px;
}

.footer-powered a{
    color: #542dff !important;
    font-weight: 700;
}
.footer-powered{
    opacity: 1;
}
.footer-social-section{
    text-align: center;
    margin-bottom: 25px;
}
.footer-social-section i{
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.04);
    border-radius: 100%;
    line-height: 50px;
    font-size: 24px;
    color: rgba(0,0,0,0.4);
    font-weight: 100;
    margin-right: 5px;
    margin-left:5px;
}












/*********************************************************************

                    GLOBAL PRODUCT SETTING

***********************************************************************/


.recommend-product-list{
    margin-top: 25px;
}

.recommend-product-list .fa-heart{
    color: red;
    transform: rotate(25deg);    
    padding: 10px;
    padding-bottom: 0;
}

.recommend-product-list h1{
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-bottom: 25px;
}

.recommend-product-box a{
    text-decoration: none !important;
    outline: none !important;
}
.recommend-product-box .picture-box{
    height: 160px;
}


.new-label{
    position: absolute;
    top: 15px;
    left: 15px;
    background: black;
    color: white;
    padding: 5px 10px;
    font-size: var(--small-font-size);
    z-index: 10;
}

.strikePrice{
    text-decoration: line-through;
    text-decoration-color: #787878;
    position: absolute;
    font-size: 10px;
    opacity: .5;
    white-space: pre;
    font-weight: 300;
    padding-left: 5px;  
}

.relative-price .strikePrice{
    position:relative !important; 
    top: 0px !important;
}

.discountedPrice{
    position: relative;
    font-weight: 700;
    color: black; 
}

.out-of-stock{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.out-of-stock span{
    color: white !important;
    font-size: 18px;
}


#comingSoonModal button{
    color:white;
}





