

.result-container {
    text-align: center;
    margin-top: 25vh;
}
.result-container img{
    width:200px;
    height:140px;
    margin-left:45px;
    animation: pop 0.3s linear;
}
@keyframes pop {
    0% {
        width:0px;
        height:0px;
    }
    100%{
        width:200px;
        height:140px;
    }
}
.result-container h1{
    margin-bottom: 50px;
}