
.point-box{
    background-repeat: no-repeat !important;
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    height: 250px;
    background: url(/img/picture/box1.png);
    border-radius: 35px;
    box-shadow: 2px 2px 15px #3511c43d;
    padding:8%;
    position: relative;
}

.point-box h1{
    color: white;
    
    font-weight: 400 !important;
    font-size: 20px !important;

}

.point-box b{
    font-size: 28px;
    font-weight: 700;
    color: white;
}

.point-box img{
    width: 46px;
    margin-top: 4px !important;
    margin-right: 25px !important;
}

.point-box small{
    color: white;
    display: block;
    opacity: 0.9;
}

#point-tab .nav-link.active{
    font-size: var(--link-font-size);
    background: #ffffff26;
    color: white;
}

#point-tab .nav-link{
    font-size: var(--link-font-size);
    color: white;
    opacity: 0.9;
}

.bg-img{
    position: absolute;
    right: 0;
    width: 300px !important;
    bottom: -50px;
}


.desc-box h1{
    font-size: var(--h5-font-size) !important;
    font-weight: 700 !important;
    color: black !important;
}

.desc-box {
    background: rgba(0,0,0,0.05);
    border-radius: 15px;
    padding: 25px;
    margin-top: 25px;
}

.tx-box{
    background: white;
    box-shadow: 2px 2px 15px rgb(0 0 0 / 4%);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;

    justify-content: space-between;
    margin-bottom: 25px;
    transition: 0.5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tx-box:hover{
    transform: scale(1.04);
}
.tx-box img{
    width: 50px;
    margin-right: 15px;
}
.tx-box h2{
    font-size: var(--h6-font-size);
    font-weight: 700;
    margin-bottom: 5px;
}
.tx-box p{
    font-size: var(--small-font-size);
    opacity: 0.6;
    margin-bottom: 0;
}
.tx-box span{
    background: #fff2da;
    border-radius: 35px;
    padding: 5px 10px;
    font-size: 14px;
    color: #ffa52f;
    font-weight: 600;
}
.tx-box span img{
    width: 20px;
    margin-top: -3px;
    margin-right: 8px;
}