.profile-header img{
    max-width: 100%;
    margin-bottom: 15px;
}
.profile-section{
    background: white;
    box-shadow: 2px 2px 15px rgb(236 236 236);
    border-radius: 8px;
    margin-bottom: 50px;
    padding: 5% 8%;
}
.content{
    padding-top:60px;
}
.menu-list{
    padding: 0;
    list-style: none;
}

.profile-header .point {
    font-size: var(--small-font-size);
    align-items: center;
    font-weight: 600;
}
.profile-header .point img{
    width: 20px;
    margin-right: 5px;
}

.menu-list a{
    font-size: var(--link-font-size);
    opacity: 0.5;
    font-weight: 400;
}
.menu-list a.active{
    font-weight:700;
    opacity:1;
}
.menu-list li{
    margin-bottom: 15px;
}
.menu-list i{
    margin-right: 8px;
}

.profile-section label{
    margin-bottom:4px !important;
}
