.container{
    max-width: 90vw;
}

#wizardContainer{
    margin-top: 50px;
}

#wizardContainer h1{
    font-weight: 800;
    font-size: var(--header-font-size);
}
.table-section{
    padding: 8% 5% !important;
    border-radius: 35px !important;
}

.table-header{
    display: flex;
    justify-content: space-between;
}
.button-section{
    text-align: right;
    margin-top: 50px;
}