/* ------------------------------------------------------------------------------
Theme Setting  
-------------------------------------------------------------------------------*/

:root {
    --primary-theme-color: #542dff !important;
    --secondary-theme-color: #3f29c2 !important;
    --highlight-theme-color: #ff7d41 !important;
    --inactive-theme-color: #cfcfcf !important;
    --highlight-secondary-theme-color: #83625c !important;
    --theme-background-color: #1f2128 !important; /*dark changes applied*/
    --default-background-color: #f6f6f6 !important;
    --box-background-color: #272b33 !important; /* New dark theme for div applied */
    --title-font-size: 24px !important;
    --header-font-size: 20px !important;
    --sub-header-font-size: 18px !important;
    --paragraph-font-size: 13px !important;
    --input-font-size: 13px !important;
    --input-background-color: #1f2128 !important; /* New dark theme applied */
    --input-border-style: 2px solid #404652 !important; /* New dark theme applied */
    --button-font-size: 13px !important;
    --small-font-size: 11px !important;
    --default-font-color: #f1f1f1 !important; /*dark changes applied*/
    --link-font-color: #3d348b !important;
    --item-box-color: white !important;
    --item-box-font-color: black !important;
    --link-inactive-color: black !important;
    --dark-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1) !important;
}

.page-loader {
    background-color: var(--theme-background-color) !important;
}
.loader img {
    filter: invert(1) brightness(10) contrast(0.77);
    border-radius: 100%;
}

.half-donut-center-text p {
    color: var(--default-font-color) !important;
}
.form-section {
    background: var(--box-background-color) !important;
}
.form-section h1 {
    color: var(--default-font-color) !important;
}
.modal-title {
    color: var(--default-font-color) !important;
}
.modal-body p {
    color: var(--default-font-color) !important;
}
.custom-panel {
    background: var(--box-background-color) !important;
}

.custom-panel.panel-blue {
    box-shadow: none !important;
}

.custom-panel.panel-blue .icon-section {
    background-color: #7852ff !important;
}

.custom-panel .icon-section {
    background-color: var(--box-background-color) !important;
    color: #fff !important;
}

.custom-panel .content-section p {
    color: var(--default-font-color) !important;
}
.custom-panel .content-section h1 {
    color: var(--default-font-color) !important;
}
.chart-section h1 {
    color: var(--default-font-color) !important;
}

.tooltipster-sidetip .tooltipster-box {
    background: var(--box-background-color) !important;
    border: 1px solid #404652 !important;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #404652 !important;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color: var(--box-background-color) !important;
}

.table {
    background-color: var(--box-background-color);
    box-shadow: var(--dark-box-shadow) !important;
}

.table-section {
    background: var(--box-background-color) !important;
    box-shadow: var(--dark-box-shadow) !important;
}

.table-section .title {
    color: var(--default-font-color) !important;
}

.table-section label {
    color: var(--default-font-color) !important;
}

.table thead th {
    background-color: var(--box-background-color) !important;
    color: var(--default-font-color) !important;
}


.thead-none tr th {
    color: var(--default-font-color) !important;
}

.table-section input,
select,
.datepicker {
    border: var(--input-border-style) !important;
    background: var(--input-background-color) !important;
    color: var(--default-font-color) !important;
}

select option {
    color: var(--default-font-color) !important;
}

tbody tr:hover {
    opacity: 1 !important;
    background: rgba(94, 96, 110, 0.15) !important;
}

.modal-body .nav-pills .nav-link {
    background-color: var(--input-background-color) !important;
    font-size: var(--paragraph-font-size) !important;
    color: var(--default-font-color) !important;
}

.modal-body .nav-pills .nav-link.active {
    border-radius: 0 !important;
}

.checkbox-flex i {
    color: var(--default-font-color) !important;
}
.checkbox-flex small {
    color: var(--default-font-color) !important;
}

.flatpickr-current-month input.cur-year {
    background-color: #fff !important;
    color: black !important;
    border: 1px solid #959ea9 !important;
    margin-left: 5px;
}

.add-bank {
    background: var(--box-background-color) !important;
    border: none !important;
}

.form-group h4 {
    color: var(--default-font-color) !important;
}
.form-group p {
    color: var(--default-font-color) !important;
}

.input-group-append #domain-name {
    border: 2px solid #404652 !important;
    background-color: #1f2128 !important;
    color: var(--default-font-color) !important;
}

input {
    border: 2px solid #404652 !important;
    background: #1f2128 !important;
    color: var(--default-font-color) !important;
}

input,
select,
textarea {
    font-size: var(--input-font-size) !important;
    border: var(--input-border-style) !important;
    background: var(--input-background-color) !important;
    color: var(--default-font-color) !important;
}

body {
    background: var(--theme-background-color) !important;
    overflow-x: hidden !important;
    color: var(--default-font-color) !important;
}

label {
    font-size: var(--paragraph-font-size) !important;
}

.card {
    background: var(--box-background-color) !important;
    box-shadow: var(--dark-box-shadow) !important;
}

.circle-btn {
    background: var(--primary-theme-color) !important;
    border-radius: 100% !important;
    width: 40px;
    height: 40px;
    font-size: var(--button-font-size);
    font-weight: bold;
    color: white;
    text-align: center;
    margin: auto;
    padding: 0;
    line-height: 10px;
    margin: 0;
    margin-bottom: 40px;
    text-decoration: none;
    outline: none;
    transition: 0.4s all;
}

.circle-btn:hover {
    opacity: 0.7;
}

.secondary-circle-btn {
    background: var(--secondary-theme-color) !important;
}
.third-circle-btn {
    background: var(--highlight-theme-color) !important;
}

.back-btn {
    background: var(--box-background-color) !important;
    color: var(--default-font-color) !important;
}

.btn-default {
    background: var(--primary-theme-color) !important;
    color: var(--default-font-color) !important;
}

.btn-primary {
    background-color: var(--primary-theme-color) !important;
    border-color: var(--primary-theme-color) !important;
}

.btn-primary-light {
    background-color: var(--highlight-theme-color) !important;
    border-color: var(--highlight-theme-color) !important;
}

.btn-primary-dark {
    background-color: var(--secondary-theme-color) !important;
    border-color: var(--secondary-theme-color) !important;
}

.btn-secondary {
    background: transparent !important;
    border: 1px solid var(--inactive-theme-color) !important;
    border-color: var(--inactive-theme-color) !important;
    color: var(--default-font-color);
}

.btn-secondary:hover {
    background: var(--primary-theme-color) !important;
    border: 0 !important;
    opacity: 1;
}

.circle-btn:hover span {
    background-color: var(--box-background-color) !important;
    color: var(--default-font-color) !important;
    border: var(--input-border-style) !important;
}

/* ------------------------------------------------------------------------------
Modal Setting  
-------------------------------------------------------------------------------*/

.modal-content {
    background-color: var(--theme-background-color) !important;
}

.breadcrumb-item a {
    color: var(--default-font-color) !important;
}

.custom-item-box {
    background: var(--item-box-color) !important;
}
.custom-item-box2 {
    background: var(--box-background-color) !important;
    border: 1px solid #404652 !important;
}
.custom-item-box h1 {
    color: var(--default-font-color) !important;
}
.custom-item-box2 h1 {
    color: var(--item-box-font-color) !important;
}

.custom-item-box h1 {
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--item-box-font-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-item-box2 h1 {
    color: var(--default-font-color) !important;
}

.custom-item-box2 p {
    color: var(--default-font-color) !important;
}

.tooltip_menus button,
.tooltip_menus a {
    color: var(--default-font-color) !important;
}

.tooltip_menus button:hover {
    background: #1f2128 !important;
}

/* TOGGLE STYLING */

fieldset {
    background-color: transparent !important;
}

fieldset .toggle {
    background: var(--theme-background-color) !important;
}

fieldset .toggle input + label {
    border: var(--input-border-style) !important;
    background-color: var(--box-background-color) !important;
    color: var(--default-font-color) !important;
}

fieldset .toggle input:checked + label {
    background-color: var(--primary-theme-color) !important;
    color: var(--default-font-color) !important;
    border: 0 !important;
    box-shadow: var(--dark-box-shadow) !important;
}

a:hover {
    color: #132b64 !important;
}

.multi-wrapper {
    border: var(--input-border-style) !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.multi-wrapper input {
    background-color: var(--box-background-color) !important;
    border: 0 !important;
    border-bottom: var(--input-border-style) !important;
    color: var(--default-font-color);
}

.multi-wrapper .non-selected-wrapper,
.multi-wrapper .selected-wrapper {
    overflow-y: overlay !important;
    background-color: var(--box-background-color) !important;
    color: var(--default-font-color) !important;
}

.multi-wrapper .non-selected-wrapper .header,
.multi-wrapper .selected-wrapper .header {
    color: var(--default-font-color) !important;
}

.multi-wrapper .non-selected-wrapper a,
.multi-wrapper .selected-wrapper a {
    color: var(--default-font-color) !important;
}

.breadcrumb li a:hover {
    color: var(--default-font-color) !important;
}

.breadcrumb-item.active {
    color: #fff;
}

.modal-body .form-group input.flatpickr-input[readonly],
input.flatpickr-input[readonly] {
    border: 2px solid #404652 !important;
    background: #1f2128 !important;
    color: var(--default-font-color) !important;
}

.modal-body p.title {
    color: var(--default-font-color) !important;
}

.swal-overlay--show-modal .swal-modal {
    background-color: var(--box-background-color) !important;
    border: var(--input-border-style) !important;
}

.swal-overlay--show-modal .swal-modal .swal-text {
    color: var(--default-font-color) !important;
}

.uploader label {
    background-color: var(--box-background-color) !important;
}

.uploader .start i.fa {
    color: var(--default-font-color) !important;
}

.attachment-file-name {
    color: var(--default-font-color) !important;
}

#announcement-upload-btn {
    color: var(--default-font-color) !important;
    border: var(--input-border-style) !important;
}

.feedback-form {
    background: var(--box-background-color) !important;
    padding: 7% !important;
}

.feedback-form h1 {
    color: var(--default-font-color) !important;
}
.feedback-form p {
    color: var(--default-font-color) !important;
}

.tool-list {
    background-color: var(--box-background-color) !important;
}

.tool-list li {
    font-size: var(--paragraph-font-size) !important;
    color: #fff;
}
.tool-list li:hover {
    background: rgba(94, 96, 110, 0.15) !important;
    color: var(--default-font-color) !important;
}

.tool-list li i {
    color: #fff !important;
}



#sidebar {
    background: #272b33 !important;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1) !important;
}

#sidebar ul li a {
    border-bottom: none !important;
}

#sidebar li > a .menu-icon {
    height: 45px !important;
    align-items: center !important;
}

#sidebar li .menu-icon:hover {
    background: rgba(94, 96, 110, 0.15) !important;
    color: var(--item-box-color) !important;
}

#sidebar li .menu-icon:hover span {
    color: var(--item-box-color) !important;
}

#sidebar li.active .menu-icon {
    background: #7852ff !important;
    color: white !important;
    font-weight: 900 !important;
    box-shadow: none !important;
}

#sidebar li.active .menu-icon span {
    color: var(--default-font-color) !important;
}

#sidebar li a {
    font-weight: 600 !important;
}

#main-menu li div span {
    color: #5e606e !important;
    font-weight: 600 !important;
}

@media (min-width: 800px) {
    #sidebar.expand #main-menu li span {
        font-weight: 600 !important;
    }
}

.top-notification {
    background-color: var(--box-background-color) !important;
}

.top-notification h1 {
    color: var(--default-font-color) !important;
}

.close-notification-btn {
    color: var(--default-font-color) !important;
}

.profile-item {
    background-color: var(--box-background-color) !important;
}

.profile-item a {
    color: var(--default-font-color) !important;
}
.profile-item a i {
    color: var(--default-font-color) !important;
}

#topNav button:hover {
    opacity: 0.8 !important;
}
.profile-item a:hover {
    background-color: rgba(94, 96, 110, 0.15) !important;
}

.wizard-btn {
    background: var(--box-background-color) !important;
    box-shadow: var(--dark-box-shadow) !important;
    border: 0 !important;
}

.or-box h1 {
    background-color: var(--box-background-color) !important;
    border-radius: 50% !important;
    color: #fff;
}

#importExcel .title {
    color: var(--default-font-color) !important;
}
#importExcel .subtitle {
    color: var(--default-font-color) !important;
}

#importExcel .subtitle-content {
    display: block;
    margin-bottom: 10px !important;
}

.custom-file-label {
    background-color: var(--input-background-color) !important;
    color: var(--default-font-color) !important;
    border: var(--input-border-style) !important;
}

.custom-file-label::after {
    background-color: var(--input-background-color) !important;
    color: var(--default-font-color) !important;
    border-left: 1px solid #404652 !important;
    border-bottom: 2px solid #404652 !important;
}
.option {
    background: var(--box-background-color) !important;
}

hr {
    border-top: 1px solid var(--default-font-color) !important;
}

.back-btn {
    background: var(--box-background-color) !important;
    color: var(--default-font-color) !important;
}

.circle-btn:hover span {
    background-color: var(--box-background-color) !important;
    color: var(--default-font-color) !important;
    border: var(--input-border-style) !important;
}

.payment-btn:hover {
    background-color: transparent;
    border: var(--input-border-style);
    color: var(--default-font-color) !important;
    opacity: 1 !important;
}

#progress-parent .all-card-size .onbording-title {
    color: #fff;
}

.card-header.bg-danger {
    display: none;
}

.tools-button button {
    box-shadow: var(--dark-box-shadow);
}

.file-info {
    background: var(--theme-background-color) !important;
}

#halfDonutChart {
    height: 250px !important;
    width: 250px !important;
    background: var(--theme-background-color) !important;
}

.half-donut-center-text {
    z-index: 2000 !important;
}

.half-donut-center-text small,
.half-donut-center-text p {
    color: #fff !important;
}



.introjs-tooltip {
    background-color: var(--box-background-color) !important;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.04) !important;
}

.introjs-tooltip-title {
    color: #fff !important;
}

.introjs-tooltiptext {
    color: #fff !important;
}

.introjs-skipbutton {
    background-color: var(--box-background-color) !important;
    color: #fff !important;
}

.introjs-arrow {
    border-bottom-color: var(--box-background-color) !important;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.04) !important;
}

.introjs-arrow.left {
    border-right-color: var(--box-background-color) !important;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.04) !important;
}

.introjs-arrow.bottom {
    border-top-color: var(--box-background-color) !important;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.04) !important;
}

.introjs-arrow.bottom-right {
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.04) !important;
    border-top-color: var(--box-background-color) !important;
}

.introjs-skipbutton:hover {
    color: #fff !important;
}

.introjs-button:hover {
    color: #fff !important;
}

.introjs-helperLayer {
    background-color: var(--box-background-color) !important;
    border: 1px solid #fff;
}

.bottom-nav {
    background-color: var(--box-background-color) !important;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.04) !important;
}

.mobile-bottom-nav a {
    background-color: var(--box-background-color) !important;
}

.mobile-bottom-nav a i {
    color: #b4b2b2 !important;
}

.mobile-bottom-nav a span {
    color: #b4b2b2 !important;
}

.hamburger-btn svg {
    color: #fff !important;
}

.mobile-slidepane {
    box-shadow: var(--dark-box-shadow) !important;
}

.mobile-slidepane .slidepane-header {
    background-color: var(--box-background-color) !important;
}

.mobile-slidepane .slidepane-header a svg,
.mobile-slidepane .slidepane-action #pointIcon span {
    color: #fff !important;
}

.mobile-slidepane .slidepane-body {
    background-color: var(--box-background-color) !important;
}

.mobile-slidepane .slidepane-hr {
    visibility: hidden;
}

.mobile-bottom-nav a.active i {
    color: #fff !important;
}

.mobile-bottom-nav a.active span {
    color: #fff !important;
}

.mobile-slidepane .slidepane-lang-menu span,
.mobile-slidepane .slidepane-menu span {
    color: #fff !important;
}

.history-item:hover {
    background: var(--box-background-color) !important;
    padding: 15px 10px !important;
    border-radius: 15px !important;
    box-shadow: var(--dark-box-shadow) !important;
}

.history-content h2,
.history-content p,
.history-balance p {
    color: #fff;
}

.chartjs-render-monitor {
    background-color: transparent !important;
    border-radius: 4px;
}

.feedback-form {
    background-color: var(--theme-background-color) !important;
}

.notification-footer button {
    box-shadow: none !important;
}

.merchant-account-col {
    box-shadow: var(--dark-box-shadow) !important;
    padding: 3%;
}

.merchant-account-col .nav-item a {
    color: #5e606e !important;
}

#pills-submenu .nav-link.active {
    border-radius: 4px !important;
    background-color: rgba(94, 96, 110, 0.15) !important;
    color: #fff !important;
}

#progress-parent {
    background: var(--theme-background-color) !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.02) !important;
    border: 1px solid rgba(0, 0, 0, 0.02) !important;
}

.checkbox-tools:not(:checked) + label {
    background-color: var(--input-background-color) !important;
    border: var(--input-border-style) !important;
}

.attachment-parent:hover {
    background-color: #272b33 !important;
    box-shadow: 2px 2px 5px rgb(61 61 61);
}

#progress-parent .card {
    border: 1px solid rgba(0, 0, 0, 0.02) !important;
}

.uploader label {
    background-color: var(--input-background-color) !important;
    border: var(--input-border-style) !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.02) !important;
}

.store-logo-section small {
    color: #fff !important;
}

.store-idt-selection .ss-main .ss-multi-selected {
    background-color: var(--input-background-color) !important;
    border: var(--input-border-style) !important;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.02) !important;
}

.store-idt-selection .ss-content {
    background-color: var(--input-background-color) !important;
    border: var(--input-border-style) !important;
}

.store-idt-selection .ss-content .ss-list .ss-option {
    color: #fff !important;
}
.mobile-bottom-nav .bottom-nav-center i{
    color:white !important;
}
table a, .info-row .title{
    color:white !important;
}
.mobile-bottom-nav .bottom-nav-center{
    background-color: var(--primary-theme-color) !important;
    color:white !important;
    border:none !important;
}
.help-box h3, .swal-title{
    color: white !important;
}
.notification-box  .notification-item, .help-box .forgot-item{
    background: var(--box-background-color) !important;
    color: white !important;
}
select option {
    margin: 40px;
    background: rgb(31 33 40);
    padding: 15px;
    color: #fff;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
}
.bank-account {
    background: var(--box-background-color) !important;
}

#todoList{
    background: var(--box-background-color) !important;
}
.inputField{
    background: #1e2027 !important;
    box-shadow: 0 -2px 4px #383838 !important;
}
#todoList li{
    background: #4f5259 !important;
}
#addNoteBtn{
    background: var(--primary-theme-color) !important;
    border: 1px solid var(--primary-theme-color) !important;
}

@media screen and (max-width: 767px) {
    .merchant-account-col {
        margin: 30px 20px 30px 20px;
    }

    #pills-submenu {
        background: var(--box-background-color) !important;
    }

    .merchant-account-col  #pills-submenu,  .merchant-account-col {
        padding:0 !important;
        background-color: var(--theme-background-color) !important;
    }

    .merchant-account-col .nav-link {
        background-color: var(--theme-background-color) !important;
    }
    .table tr {
        border-bottom: 1px solid var(--default-font-color) !important;
    }
    
}

.web-co .web-co-link{
    background-color: #50545c !important;
    border: 1px solid #797979 !important;
}