body{
    overflow: auto !important;
    min-height: 100vh;
}



@media screen and (max-width: 992px) {
    .login-box.register{
        min-width: 800px;
    }

}


@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden !important;
    }
    .login-box{
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        transform: none !important;
        margin: 0 !important;
        width: 100vw !important;
        max-width: 100vw !important;
        min-width: initial !important;
        padding: 10% 15% !important;
    }
    .vector-section{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        text-align: center;
        margin-bottom: 50px;
    }
    .vector-section img{
        max-width: 400px;
    }
}



@media screen and (max-width: 575px){
    .login-box.register{
        min-width: 800px;
    }
    .login-box.register .logo-section{
        top: 0px  !important;
        position: relative !important;
    }
    .vector-section img{
        height:200px !important;
    }
}