#addUnit{
    padding: 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#ctx{
    width:100% !important;
}


.grid-box-item {
    height: 200px;
}

.grid-box-item:hover .img-section img{
    transform: translateX(5px) ;
}


.badge-1{
    background-color: #f7bf51;
    color: white;
}
.badge-2{
    background-color: #5838e7;
    color: white;
}
.badge-3{
    background-color: #40e07e;
    color: white;
}