.reply-div {
    background-color: #d9edf7;
    padding:15px 30px 5px 30px;
    cursor: pointer;
}

.reply-text {
    color: #31708f;
}

.ticket-div {
    margin: 15px 0;
    border: none;
    background: rgb(71 71 71 / 2%);
    box-shadow: 2px 2px 4px #f0f0f0;
    border-radius: 10px;
    padding: 15px;
}

.ticket-div h3{
    font-size: 15px;
    font-weight: 700;
}

.ticket-div .date{
    font-size: var(--small-font-size);
    opacity: 0.4;
}

.ticket-div .tox .tox-edit-area__iframe{
    background-color: transparent !important;
}
.ticket-div .tox.tox-tinymce{
    border:none !important;
}

.ticket-header{
    background-color: #f2f9ff;
    margin: 0px 0;
    padding-top: 10px;
    font-weight: 500;    
    font-size: 13px;
}

.ti-user {
    font-size: 14px;
    color: black;
    font-weight: bolder;
    padding-right: 20px;
}

.message {
    padding: 10px 10px 10px 10px ;
    font-family: 'Times New Roman', Times, serif; 
}

