.container{
    margin-top: 60px;
    max-width: 800px;
    margin-bottom: 100px;
}
.checkout-container{
    max-width: 500px;
}
.container p{
    font-size: var(--paragraph-font-size);
    font-weight: 300;
    opacity: 0.6;
    margin-bottom: 25px;
}
.container h1{
    font-size: var(--header-font-size);
    font-weight: 800;
    margin-bottom: 5px;
}


.option-group {
height: 150px;
position: relative;
overflow: hidden;
border-radius: 0.25em;
font-size: 4rem;
margin: 0.2em auto;
transform: translateZ(0);
}
.option-container {
display: flex;
justify-content: center;
align-items: stretch;
width: 120%;
height: 100%;
margin: 0 -10%;
}
.custom-section{
    display:none;
}
.option {
overflow: hidden;
flex: 1;
display: block;
padding: 25px;
background: #edecff;
position: relative;
margin: 0em;
margin-right: 10px;
border-radius: 15px;
display: flex;
justify-content: flex-end;
align-items: flex-start;
flex-direction: column;
cursor: pointer;
opacity: 0.9;
transition-duration: 0.8s, 0.6s;
transition-property: transform, opacity;
transition-timing-function: cubic-bezier(0.98, 0, 0.22, 0.98), linear;
will-change: transform, opacity;
}
.option:last-child {
margin-right: 0;
}
.option__indicator {
display: block;
transform-origin: left bottom;
transition: inherit;
will-change: transform;
position: absolute;
top: 0.5em;
right: 0.5em;
left: 0.5em;
}
.option__indicator:before,
.option__indicator:after {
content: '';
display: block;
border: solid 2px var(--primary-theme-color);
border-radius: 50%;
width: 10px;
height: 10px;
position: absolute;
top: 0;
right: 0;
}
.option__indicator:after {
background: var(--primary-theme-color);
transform: scale(0);
transition: inherit;
will-change: transform;
}
.option-input {
position: absolute;
top: 0;
z-index: -1;
visibility: hidden;
transform: 0.4s all;
}
.option__label {
display: block;
width: 100%;
text-transform: uppercase;
font-size: 2.4em;
font-weight: bold;
transform-origin: left bottom;
transform: translateX(20%) scale(0.7);
transition: inherit;
will-change: transform;
}
.option__label sub {
margin-left: 0.25em;
font-size: 0.4em;
display: inline-block;
vertical-align: 0.3em;
}
.option__label:after {
content: '';
display: block;
border: solid 2px var(--primary-theme-color);
width: 100%;
transform-origin: 0 0;
transform: scaleX(0.2);
transition: inherit;
will-change: transform;
}
.option:last-child .option__label {
transform: translateX(0%) scale(0.7);
}
.option:last-child .option__indicator {
transform: translateX(-20%);
}
.option-input:checked ~ .option {
transform: translateX(-20%) translateX(0.2em);
}
.option-input:checked ~ .option .option__indicator {
transform: translateX(0%);
}
.option-input:checked ~ .option .option__label {
transform: translateX(40%) scale(0.7);
}
.option-input:first-child:checked ~ .option {
transform: translateX(20%) translateX(-1em);
}
.option-input:first-child:checked ~ .option .option__indicator {
transform: translateX(-40%);
}
.option-input:first-child:checked ~ .option .option__label {
transform: translateX(0%) scale(0.7);
}
.option-input:nth-child(1):checked ~ .option:nth-of-type(1),
.option-input:nth-child(2):checked ~ .option:nth-of-type(2) {
    opacity: 1;
    background-color: var(--primary-theme-color);
    color:white !important;
}

.option-input:nth-child(1):checked ~ .option:nth-of-type(1) .option__indicator,
.option-input:nth-child(2):checked ~ .option:nth-of-type(2) .option__indicator {
transform: translateX(0);
}
.option-input:nth-child(1):checked ~ .option:nth-of-type(1) .option__indicator::after,
.option-input:nth-child(2):checked ~ .option:nth-of-type(2) .option__indicator::after {
transform: scale(1);
background-color: white;
}
.option-input:nth-child(1):checked ~ .option:nth-of-type(1) .option__label,
.option-input:nth-child(2):checked ~ .option:nth-of-type(2) .option__label,
.option-input:nth-child(1):checked ~ .option:nth-of-type(1) .option__label::after,
.option-input:nth-child(2):checked ~ .option:nth-of-type(2) .option__label::after {
transform: scale(1);
border-color:white;
}


.button-section{
    text-align: right;
    margin-top: 25px;
}

.button-section button{
    padding:10px 25px !important;
    font-size: var(--paragraph-font-size);
    font-weight: 600;
    border-radius: 35px;
    box-shadow: 2px 2px 0px #27158d;
}

.custom-section p{
    font-size: var(--paragraph-font-size);
    margin-bottom: 5px;
    margin-top: 5%;
}

.summary-detail img{
    width: 20px;
    margin-top: -3px;
}
.summary-detail span{
    font-weight: 700;
    font-size: 14px;
}


.result-container {
    text-align: center;
    margin-top: 25vh;
}
.result-container img{
    width:200px;
    height:140px;
    margin-left:45px;
    animation: pop 0.3s linear;
}
@keyframes pop {
    0% {
        width:0px;
        height:0px;
    }
    100%{
        width:200px;
        height:140px;
    }
}
.result-container h1{
    margin-bottom: 50px;
}

.credit-section{
    font-weight: 700;
    color: #f6bb51;
    font-size: 14px;
}
.credit-section img{
    width: 25px;
    margin-left:5px;
}


.bank-account{
    background: rgb(241,241,241);
    background: radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(233,233,233,1) 49%, rgba(245,245,245,1) 100%);
    border-radius: 15px;
    padding: 25px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
}
.bank-account .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s all;
}
.overlay .overlay-btn{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
.overlay .background{
    background: rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 15px;
}
.bank-account:hover .overlay{
    opacity: 1;
}
.bank-info h2{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}
.bank-info p{
    margin: 0;
    font-size: var(--paragraph-font-size);
    font-weight: 400;
    opacity: 0.8;
}
.bank-balance h2{
    font-size: var(--header-font-size);
    font-weight: 700;
}
.bank-balance h3{
    font-size: 14px;
    font-weight: 700;
}
.add-bank{
    background: #f8f7ff;
    border: 1px solid #ededed;
    padding: 5%;
    border-radius: 15px;
    cursor: pointer;
}
.add-bank h2{
    font-size: var(--sub-header-font-size);
    font-weight: 700;
    margin-bottom: 20px;
}
.add-bank .button-section{
    margin: 0;
    text-align: right;
}

#bankModal .modal-close-btn{
    background-color: transparent !important;
}

.bank-account:hover{
    transform: scale(1.03);
}

.or-line {
    width: 100%;
    height: 1px;
    background: #eee;
    position: absolute;
    z-index: 0;
    top: 50%;
}
.or-box {
    position: relative;
    text-align: center;
    height: 50px;
}
.or-box h1 {
    width: 50px;
    height: 50px;
    background: #fff;
    font-size: var(--small-font-size);
    color: #b2b2b2;
    font-weight: 400;
    line-height: 50px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 100;
}

.withdraw-detail{
    padding: 8%;
    background: rgba(0,0,0,0.03);
    border-radius: 15px;
}

.withdraw-detail img{
    width: 23px;
    opacity: 0.8;
}

.withdraw-detail b{
    color: #ffb939;
    font-size: var(--paragraph-font-size);
}

.select-btn{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    padding: 10px 15px !important;
    border: 1px solid lightgray;
    cursor: pointer;
}

.dropdown-menu {
    width: calc(100% - 30px);
    margin-bottom: 80px;
}


.dropdown-menu ul li{
    font-size: var(--paragraph-font-size);
    padding: 15px !important;
    cursor: pointer;
    transition: 0.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
}
div#dropdown-with-icons{
    padding: 0 !important;
    padding-bottom: 25px !important;
}


.dropdown-menu .delete-bank-btn{
    border: none !important;
    position: absolute;
    right: 0;
    background: transparent;
    bottom: 0;
    padding: 15px;
    font-size: 11px;
    color: #c55050;
    transition:0.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 0px ;
    padding: 0px;
    overflow: hidden;
}
.dropdown-menu ul li{
    position: relative;
}
.dropdown-menu ul li:hover .delete-bank-btn{
    width: 80px;
    padding: 15px;
}
.dropdown-menu .delete-bank-btn i{
    padding-right: 5px;
}
.dropdown-menu ul li:hover{
    background-color: rgba(0,0,0,0.04);
}
.dropdown-menu ul{
    box-shadow: none !important;
}
ul .bank-balance h3{
    font-size: 13px;
    font-weight: 600;
}